.col-4 {
  margin-top: 15% !important;
}

input {
  font-size: 14px !important;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}
